/* @import '../Comparison/Comparison.css' */

table.mainContainer{
    margin-top:80px;
    margin-bottom: 40px;
}
table.mainContainer .table-headings {
    background-color: rgb(17, 182, 122);
    color: rgb(255, 255, 255);
}
.container table.mainContainer h4.university-name {
    margin: 10%;
    align-items: center;
    justify-content: center;
    display: block;
}
.mainContainer {
    padding-top: 80px;
    padding-bottom: 80px;
}
.mainContainer .btn-primary {
    font-size: 14px;
    color: rgb(255, 255, 255);
    display: inline-block;
    width: 145px;
    text-transform: uppercase;
    text-align: center;
    padding: 11px;
    border-radius: 5px;
    box-shadow: none;
    margin: 5px 5px;
    background: linear-gradient( 90deg, rgb(17, 182, 122) 0%, rgb(0, 148, 68) 100%);

}